/* fonte principal */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

/* resete */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family-primary);
  font-style: normal;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

/* corpo da página */
body {
  position: relative;
  background: var(--primary-color);
  height: 100dvh;
}

/* container principal */
main {
  position: relative;
  max-width: 1360px;
  height: auto;
}

/* seções */
.secao {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 100dvh;
  overflow: hidden;
  padding: 6.25rem 1%;
}

/* divisões das seções */
.division-one {
  mask-image: linear-gradient(to top, #000 20%, rgba(0, 0, 0, 0.01) 95%);
}

.division-two {
  mask-image: linear-gradient(to top, #1a202c 20%, rgba(0, 0, 0, 0.01) 95%);
}

.card-effect:hover {
  transform: translateY(-1rem);
}

/* botão flutuante whatsapp */
.btn-whatsapp {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 7rem;
  right: 2rem;
  z-index: 11;
  height: 2.8rem;
  width: 2.8rem;
  border-radius: 50%;
  background: var(--highlight-color);
  color: var(--text-color);
  transition: 0.3s ease-in-out;
}

.btn-whatsapp i {
  font-size: 2rem;
}

.btn-whatsapp:hover {
  box-shadow: 0 0 0.3rem var(--highlight-color);
}

/* botão topo */
.btn-top {
  position: fixed;
  bottom: 3rem;
  right: 1rem;
  z-index: 12;
  height: 2.8rem;
  padding: 0.2rem;
  background: var(--text-color);
  border-radius: 50%;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  opacity: 0;
}

.btn-top.show {
  opacity: 1;
}

/* responsividade */
/* Telas medias / Telas pequenas */
@media (max-width: 1000px) {
  .btn-whatsapp {
    top: 1rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 2.3rem;
    width: 2.3rem;
  }

  .btn-whatsapp i {
    font-size: 1.7rem;
  }

  .card-effect:hover {
    transform: none;
  }

  .btn-whatsapp:hover {
    box-shadow: none;
  }
}
