footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.2rem 0;
  background-color: var(--secondary-color);
  color: var(--text-color);
  box-shadow: 0 -0.1rem 0.5rem #00000083;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.footer-logo span {
  font-size: 1.1rem;
  font-weight: var(--font-weight-semibold);
  padding: 0.3rem 1rem;
  border-radius: 0.375rem;
  background: var(--highlight-color);
  color: var(--text-color);
}

.footer-menu-list {
  display: flex;
  flex-direction: column;
}

.footer-menu-list li {
  margin: 0.5rem 0;
  padding: 0.5rem 0;
}

.footer-menu-list li a {
  font-size: 1.1rem;
  font-weight: var(--font-weight-regular);
  color: var(--text-color);
  transition: color 0.3s ease;
}

footer p {
  font-weight: var(--font-weight-light);
}

/* responsividade */
/* Telas medias / Telas pequenas */
@media (max-width: 1000px) {
  footer {
    flex-direction: column;
    gap: 1rem;
  }

  .footer-menu-list li a {
    font-size: 1rem;
  }

  .footer-logo {
    flex-direction: column;
  }

  .footer-logo span {
    font-size: 1rem;
  }

  .footer-menu-list {
    display: block;
    text-align: center;
  }
}
